<div class="fc__sketch-wrapper" #sketchpad>
  <div class="fc__sketch-part">
    <div class="fc__sketch-header">
      <span></span>
      <button (click)="onPageConfigSave($event)" nz-button nzType="primary">保存</button>
    </div>
    <div class="fc__sketch-body" #sketchBody>
      <div class="fc__sketch-container" zwEditDynamic #sketchContainer>
        <div class="fc__sketch-item" *ngFor="let childConfig of pageConfig.children">
          <ng-container fcDynamicComponent [config]="childConfig" [parentId]="pageConfig.id"></ng-container>
        </div>
      </div>
      <ng-template #hoverTpl></ng-template>
    </div>
  </div>
  <div class="fc__selector-part">
    <div class="fc__selector-header">
      <span>组件</span>
    </div>
    <div class="fc__selector-body">
      <ul class="fc__selector-list" #selectorContainer>
        <li *ngFor="let selectorItem of selectorList" class="fc__selector-item" 
          [attr.data-type]="selectorItem.type" #selectorElement>
          <span>{{ selectorItem.text }}</span>
        </li>
      </ul>
    </div>
  </div>
  <ng-template #mouseTpl></ng-template>
</div>
