<div class="fc__property-line">
  <label class="fc__property-label">{{'edit.property.common.placeholder' | translate}}:</label>
  <nz-select class="fc__property-data" nzAllowClear [(ngModel)]="config.placeholder" nzPlaceHolder="" nzShowSearch>
    <nz-option nzCustomContent nzLabel="{{item.value}}" nzValue="{{item.key}}" *ngFor="let item of transList">
      {{item.key}}-{{item.value}}
    </nz-option>
  </nz-select>
</div>
<div class="fc__property-line">
  <label class="fc__property-label">{{'edit.property.common.defaultValue' | translate}}:</label>
  <nz-input-number class="fc__property-data" [(ngModel)]="config.defaultValue"></nz-input-number>
</div>
<div class="fc__property-line">
  <label class="fc__property-label">{{'edit.property.inputnumber.max' | translate}}:</label>
  <nz-input-number class="fc__property-data" [(ngModel)]="config.max"></nz-input-number>
</div>
<div class="fc__property-line">
  <label class="fc__property-label">{{'edit.property.inputnumber.min' | translate}}:</label>
  <nz-input-number class="fc__property-data" [(ngModel)]="config.min"></nz-input-number>
</div>
<div class="fc__property-line">
  <label class="fc__property-label">{{'edit.property.inputnumber.step' | translate}}:</label>
  <nz-input-number class="fc__property-data" [(ngModel)]="config.step" [nzStep]="0.1"></nz-input-number>
</div>