<div class="fc__index-wrapper">
  <div class="fc__index-head-line">
    <div class="fc__index-search-wrapper">
      <nz-input-group nzSearch  [nzAddOnAfter]="suffixButton" class="fc__index-search-btn">
        <input type="text" nz-input [placeholder]="'index.queryPh' | translate" [(ngModel)]="searchValue"/>
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="primary" nzSearch (click)="getPageList(true)">{{ 'query' | translate }}</button>
      </ng-template>
      <button nz-button nzType="default" (click)="onClearSearchInput()">{{'clear' | translate}}</button>
    </div>
    <button nz-button nzType="primary">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      新建页面
    </button>
  </div>
  <div class="fc__index-result-wrapper">
    <nz-table #nzTable [nzData]="pageList" nzSize="middle"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="total"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="getPageList()">
      <thead>
        <tr>
          <th>{{'index.table.index' | translate}}</th>
          <th>{{'index.table.title' | translate}}</th>
          <th>{{'index.table.updateTime' | translate}}</th>
          <th>{{'index.table.operator' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dataItem of nzTable.data; let i = index" >
          <td>{{ (nzTable.nzPageIndex - 1) * 10 + i + 1}}</td>
          <td>{{dataItem.title}}</td>
          <td>{{dataItem.updateTime}}</td>
          <td class="fc__index-table-operator">
            <span class="fc__index-table-operator-item fc__index-table-operator-edit">
              <i nz-icon nzType="edit" nzTheme="outline"></i>
              <a> {{'index.table.edit' | translate}} </a>
            </span>
            <span class="fc__index-table-operator-item fc__index-table-operator-copy">
              <i nz-icon nzType="copy" nzTheme="outline"></i>
              <a> {{'index.table.copy' | translate}} </a>
            </span>
            <span class="fc__index-table-operator-item fc__index-table-operator-delete">
              <i nz-icon nzType="delete" nzTheme="outline"></i>
              <a> {{'index.table.delete' | translate}} </a>
            </span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
