<div class="fc__property-line">
  <label class="fc__property-label">{{'edit.property.upload.text' | translate}}:</label>
  <nz-select class="fc__property-data" nzAllowClear [(ngModel)]="config.text" nzPlaceHolder="" nzShowSearch>
    <nz-option nzCustomContent nzLabel="{{item.value}}" nzValue="{{item.key}}" *ngFor="let item of transList">
      {{item.key}}-{{item.value}}
    </nz-option>
  </nz-select>
</div>
<div class="fc__property-line">
  <label class="fc__property-label">{{'edit.property.upload.size' | translate}}:</label>
  <nz-input-number class="fc__property-data" [(ngModel)]="config.size" [nzMin]="1" [nzMax]="10"
    [nzStep]="1"></nz-input-number>
</div>