<nz-collapse nzAccordion="true" *ngIf="events && events.length > 0">
  <nz-collapse-panel *ngFor="let eventItem of events; let i = index"
    [nzHeader]="eventItem.type || 'event'" 
    [nzExtra]="extraEventTpl">
    <ng-template #extraEventTpl>
      <i nz-icon nzType="delete" nzTheme="outline" (click)="onDeleteEvent(i)" 
        class="fc__property-delete-icon"></i>
    </ng-template>
    <div class="fc__property-line">
      <label for="label" class="fc__property-label">{{'edit.event.type' | translate}}:</label>
      <nz-select class="fc__property-data" id="label" name="label"  
        [(ngModel)]="eventItem.type" nzPlaceHolder="">
        <nz-option *ngFor="let eventTypeItem of eventTypes; let j = index" 
          nzLabel="{{ eventTypes[j] }}" nzValue="{{ eventTypes[j] }}"></nz-option>
      </nz-select>
    </div>
    <nz-collapse nzAccordion="true" class="fc__event-collapse">
      <nz-collapse-panel 
      [nzHeader]="'edit.event.local' | translate">
      <div class="fc__property-line">
        <label class="fc__property-label">{{'edit.event.name' | translate}}:</label>
        <nz-select class="fc__property-data"  [(ngModel)]="eventItem.local.name" nzPlaceHolder="">
          <nz-option *ngFor="let localActionItem of localActions; let k = index" 
          nzLabel="{{ localActions[k] }}" nzValue="{{ localActions[k] }}"></nz-option>
        </nz-select>
      </div>
      <div class="fc__property-line">
        <label class="fc__property-label">{{'edit.event.comps' | translate}}:</label>
        <nz-select class="fc__property-data"  [(ngModel)]="eventItem.local.comps" 
          nzPlaceHolder="" nzMode="multiple">
          <nz-option *ngFor="let compNameItem of compNames" 
          nzLabel="{{ compNameItem.name }}" nzValue="{{ compNameItem.id }}"></nz-option>
        </nz-select>
      </div>
    </nz-collapse-panel>
    </nz-collapse>
    <div class="fc__property-line">
      <label class="fc__property-label">{{'edit.event.remotes' | translate}}:</label>
      <nz-select class="fc__property-data"  [(ngModel)]="remote[eventItem.id].queue" 
        nzPlaceHolder="" nzMode="multiple">
        <nz-option *ngFor="let actionItem of actions" 
        nzLabel="{{ actionItem.name }}" nzValue="{{ actionItem.id }}"></nz-option>
      </nz-select>
    </div>
    <nz-collapse nzAccordion="true">
      <nz-collapse-panel 
      [nzHeader]="'edit.event.afterRemote' | translate">
      <div class="fc__property-line">
        <label class="fc__property-label">{{'edit.event.name' | translate}}:</label>
        <nz-select class="fc__property-data"  [(ngModel)]="eventItem.afterRemote.name" nzPlaceHolder="">
          <nz-option *ngFor="let localActionItem of localActions; let m = index" 
          nzLabel="{{ localActions[m] }}" nzValue="{{ localActions[m] }}"></nz-option>
        </nz-select>
      </div>
      <div class="fc__property-line">
        <label class="fc__property-label">{{'edit.event.comps' | translate}}:</label>
        <nz-select class="fc__property-data"  [(ngModel)]="eventItem.afterRemote.comps" 
          nzPlaceHolder="" nzMode="multiple">
          <nz-option *ngFor="let compNameItem of compNames" 
          nzLabel="{{ compNameItem.name }}" nzValue="{{ compNameItem.id }}"></nz-option>
        </nz-select>
      </div>
    </nz-collapse-panel>
    </nz-collapse>
  </nz-collapse-panel>
</nz-collapse>
<button class="fc__property-addbtn" nz-button nzType="primary" (click)="onAddEvent()">
  <i nz-icon nzType="plus" nzTheme="outline"></i>
  {{'edit.event.addEvent' | translate}}
</button>