<nz-collapse nzAccordion="true">
  <nz-collapse-panel
  [nzHeader]="'edit.action.transfers' | translate" >
  <nz-collapse nzAccordion="true" *ngIf="action.transfers.length > 0">
    <nz-collapse-panel *ngFor="let transferItem of action.transfers; let tIndex = index"
    [nzHeader]="'transferItem-' + (tIndex + 1 )" 
    [nzExtra]="extraTransferItemTpl">
    <ng-template #extraTransferItemTpl>
      <i nz-icon nzType="delete" nzTheme="outline" (click)="onDeleteTransferItem(tIndex)" class="fc__property-delete-icon"></i>
    </ng-template>
    <div>
      <p>OriginalItem</p>
      <fc-data-item [dataItem]="transferItem.origin" [dataTables]="dataTables" [dataGroups]="dataGroups"></fc-data-item>
    </div>
    <div>
      <p>ReferredItem</p>
      <fc-data-item [dataItem]="transferItem.refers" [dataTables]="dataTables" [dataGroups]="dataGroups"></fc-data-item>
    </div>
    </nz-collapse-panel>
  </nz-collapse>
  <button class="fc__property-addbtn" nz-button nzType="primary" (click)="onAddTransferItem()">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    {{'edit.action.addTransferItem' | translate}}
  </button>
  </nz-collapse-panel>
</nz-collapse>


<nz-collapse nzAccordion="true">
  <nz-collapse-panel
  [nzHeader]="'edit.action.defaultDataList' | translate" >
  <nz-collapse nzAccordion="true" *ngIf="action.defaultDataList.length > 0">
    <nz-collapse-panel *ngFor="let defaultDataItem of action.defaultDataList; let dIndex = index"
    [nzHeader]="'defaultDataItem-' + (dIndex + 1 )" 
    [nzExtra]="extraDefaultDataTpl">
    <ng-template #extraDefaultDataTpl>
      <i nz-icon nzType="delete" nzTheme="outline" (click)="onDeleteDefaultDataItem(dIndex)" class="fc__property-delete-icon"></i>
    </ng-template>
    <fc-operator-data [dataItem]="defaultDataItem" [dataTables]="dataTables"
      [dataGroups]="dataGroups" [hasOperator]="false" [hasValue]="true"></fc-operator-data>
    </nz-collapse-panel>
  </nz-collapse>
  <button class="fc__property-addbtn" nz-button nzType="primary" (click)="onAddDefaultDataItem()">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    {{'edit.action.addDefaultDataItem' | translate}}
  </button>
  </nz-collapse-panel>
</nz-collapse>
