// edit
.fc__edit-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}
.fc__edit-left {
    flex: 1;
    height: 100%;
}
.fc__edit-right {
    flex: 0 0 350px;
    width: 350px;
    border-left: 1px solid #c9c9c9;
}
//sketch
.fc__sketch-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.fc__sketch-part {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #c9c9c9;
    overflow: hidden;
}
.fc__sketch-header {
    flex: 0 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    height: 60px;
    border-bottom: 1px solid #c9c9c9;
}
.fc__sketch-body {
    position: relative;
    padding: 20px;
    overflow: auto;
    height: 100%;
    background-color: #ccc;
}
.fc__sketch-container {
    position: relative;
    // padding: 16px;
    width: 100%;
    min-height: 100%;
    background-color: #fff;
    cursor: pointer;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.fc__sketch-item {
    margin-bottom: 10px;
}
// selector
.fc__selector-part {
    flex: 0 0 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
}
.fc__selector-header {
    flex: 0 0 40px;
    height: 40px;
    display: flex;
    padding: 8px 16px;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
}
.fc__selector-body {
    height: 100%;
    overflow: auto;
}
.fc__selector-list {
    list-style: none;
    padding: 0;
}
.fc__selector-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    margin: 8px;
    width: 120px;
    height: 36px;
    line-height: 1.5;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.fc__selector-item:hover {
    border: 1px solid #1890ff;
    background-color: #1890ff;
    color: #fff;
}

// sketch-hover & sketch select & sketch drag
.fc__hover-box, .fc__select-box {
    position: absolute;
    // background-color: aqua;
    left: 0;
    top: 0;
    border: 1px solid #1890ff;
}
.fc__drag-box {
    position: absolute;
    border: 1px solid #ccc;
    background-color: #eee;
    left: 0;
    top: 0;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.fc__select-box {
    z-index: 98;
}
.fc__select-wrapper {
    position: absolute;
    width: 16px;
    height: 16px;
    font-size: 16px;
    right: 8px;
    top: -8px;
    color: #1890ff;
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

// settings
.fc__settings-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
}
.fc__settings-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
.fc__settings-item.open {
    height: 100%;
}
.fc__settings-header {
    flex: 0 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
.fc__settings-item.open .fc__settings-header {
    color: #1890ff;
    font-weight: bold;
}
.fc__settings-body {
    position: relative;
    display: none;
    height: 100%;
    overflow: auto;
}
.fc__settings-item.open .fc__settings-body {
    border-top: 1px solid #ccc;
    display: block;
}
.fc-setting-item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #c9c9c9;
}
.fc-setting-item-head.active {
    color: #1890ff;
    font-weight: bold;
}
// property
.fc__property-line {
    display: flex;
    margin-bottom: 8px;
    flex-wrap: wrap;
}
.fc__property-label {
    flex: 0 0 80px;
}
.fc__property-data {
    flex: 1;
}
.fc__property-error {
    color: #f5222d;
    display: none;
}
.fc__property-error.is-error {
    display: block;
}
.fc__property-collapse {
    width: 100%;
}
.fc__property-fkitem {
    padding: 8px 8px 4px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.fc__property-addbtn {
    margin-top: 8px;
}
.fc__property-delete-icon {
    color: #f5222d;
    cursor: pointer;
}
.fc__property-unique-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.fc__property-unique-delete {
    margin-left: 8px;
}
.fc__property-data-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fc__property-option-btn-group {
    flex: 1;
    text-align: right;
}
.fc__property-option-item {
    padding: 4px 0;
    margin-bottom: 8px;
    border-bottom: 1px solid #ccc;
}
.fc__property-option-icon {
    font-size: 20px;
    margin-right: 8px;
    cursor: pointer;
}
.fc__property-option-icon-plus {
    color: #1890ff;
}
.fc__property-option-icon-delete {
    color: #f5222d;
}
// comp
.fc__comp-required::before {
    display: inline-block;
    margin-right: 4px;
    content: '*';
    font-family: SimSun;
    line-height: 1;
    font-size: 14px;
    color: #f5222d;
}
.fc__container-wrapper {
    display: flex;
    border: 1px dashed #ccc;
    padding: 16px;
}
.fc__container-wrapper-hz {
    flex-direction: row;
    flex-wrap: wrap;
}
.fc__container-wrapper-vt {
    flex-direction: column;
}
.fc__container-wrapper-hz .fc__item-wrapper {
    margin-right: 8px;
    margin-bottom: 8px;
}
.fc__container-wrapper-vt .fc__item-wrapper {
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
}
.fc__comp-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    min-height: 32px;
}
.fc__comp-wrapper.fc__comp-textarea-wrapper {
    align-items: flex-start;
}
.fc__comp-label-wrapper {
    flex: 0 0 60px;
}
.fc__comp-label {
    display: flex;
    align-items: center;
    margin-right: 8px;
}
.fc__comp-main {
    flex: 1;
    display: flex;
    align-items: center;
    min-height: 32px;
}
.fc_comp-input-readonly {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.fc_comp-input-readonly-addon {
    margin: 0 4px;
}
.fc__comp-print-wrapper {
    border: 1px solid #111;
    background-color: #eee;
    justify-content: center;
    height: 100px;
}
.fc__comp-scale-unlock .ant-input-group-addon {
    background-color: #1890ff;
    color: #fff;
}
.fc__comp-scale-lock .ant-input-group-addon {
    background-color: #f5222d;
    color: #fff;
}