.fc__index-wrapper {
    display: flex;
    flex-direction: column;
}
.fc__index-head-line {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}
.fc__index-search-wrapper {
    display: flex;
}
.fc__index-search-btn {
    margin-right: 16px;
}
.fc__index-result-wrapper {
    padding: 0 60px;
}
.fc__index-table-operator-item {
    margin-right: 8px;
}
.fc__index-table-operator-item a {
    color: inherit;
}
.fc__index-table-operator-edit:hover,
.fc__index-table-operator-edit:hover a {
    color: #01f7af;
}
.fc__index-table-operator-copy:hover,
.fc__index-table-operator-copy:hover a {
    color: #1890ff;
}
.fc__index-table-operator-delete:hover,
.fc__index-table-operator-delete:hover a {
    color: #ff4d4f;
}