<div class="fc__settings-wrapper">
  <div class="fc__settings-item fc__settings-property-wrapper" [class.open]="currentTabShowIndex === 1">
    <div class="fc__settings-header" (click)="onChangeSettingTab(1)">
      <span>{{title}}</span>
      <i nz-icon nzType="caret-right" nzTheme="outline" [nzRotate]="currentTabShowIndex === 1 ? 90: 0"></i>
    </div>
    <div class="fc__settings-body">
      <nz-collapse nzAccordion="true" nzBordered="false">
        <nz-collapse-panel
          [nzHeader]="commonTpl"
          [nzActive]="true"
          [nzShowArrow] = "false"
          #commonSetting>
          <!-- name -->
          <div class="fc__property-line">
            <label for="name" class="fc__property-label">{{'edit.property.name' | translate}}:</label>
            <div class="fc__property-data">
              <input nz-input  id="name" name="name" #pageName
                placeholder="" [(ngModel)]="currentCompConfig.name" (change)="onNameChange(pageName.value)">
              <p class="fc__property-error" [class.is-error]="isNameError">{{'edit.error.nameRepeat' | translate}}</p>
            </div>
          </div>
          <fc-comp-default *ngIf="currentType !== 'page'" [config]="currentCompConfig"></fc-comp-default>
          <fc-form-default *ngIf="hasDataItem && currentType !== 'page'" [config]="currentCompConfig" 
            [transList]="currentTranslateList"></fc-form-default>
          <!-- self-property -->
          <ng-container fcDynamicProperty [config]="currentCompConfig" [type]="currentType" [transList]="currentTranslateList"
            [dataTables]="dataTables" [localActions]="localActions"></ng-container>
          <ng-template #commonTpl>
            <div class="fc-setting-item-head" [class.active]="commonSetting.nzActive">
              <span>Common</span>
              <i nz-icon nzType="caret-right" nzTheme="outline" [nzRotate]="commonSetting.nzActive ? 90: 0"></i>
            </div>
          </ng-template>
        </nz-collapse-panel>
        <nz-collapse-panel
          *ngIf="hasDataItem"
          [nzHeader]="dataTpl"
          [nzShowArrow] = "false"
          #dataSetting>
          <div class="fc__property-line">
            <ng-container *ngIf="hasDataItem && currentType === 'page'; else dataItemTemplate">
              <fc-data-group [config]="currentCompConfig" [dataTables]="dataTables" class="fc__property-collapse"></fc-data-group>
            </ng-container>
            <ng-template #dataItemTemplate>
              <fc-data-item [config]="pageConfig" [dataTables]="dataTables" [compId]="currentCompConfig.id"></fc-data-item>
            </ng-template>
          </div>
          
          <ng-template #dataTpl>
            <div class="fc-setting-item-head" [class.active]="dataSetting.nzActive">
              <span>Data</span>
              <i nz-icon nzType="caret-right" nzTheme="outline" [nzRotate]="dataSetting.nzActive ? 90: 0"></i>
            </div>
          </ng-template>
        </nz-collapse-panel>
        <nz-collapse-panel
          [nzHeader]="eventTpl"
          [nzShowArrow] = "false"
          #eventSetting>
          <ng-template #eventTpl>
            <div class="fc-setting-item-head" [class.active]="eventSetting.nzActive">
              <span>Event</span>
              <i nz-icon nzType="caret-right" nzTheme="outline" [nzRotate]="eventSetting.nzActive ? 90: 0"></i>
            </div>
          </ng-template>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </div>
  <div class="fc__settings-item fc__settings-action-wrapper" [class.open]="currentTabShowIndex === 2">
    <div class="fc__settings-header" (click)="onChangeSettingTab(2)">
      <span>Action</span>
      <i nz-icon nzType="caret-right" nzTheme="outline" [nzRotate]="currentTabShowIndex === 2 ? 90: 0"></i>
    </div>
    <div class="fc__settings-body">
      
    </div>
  </div>
</div>
