<div class="fc__settings-wrapper">
  <div class="fc__settings-property-wrapper">
    <div class="fc__settings-header">
      <span></span>
      <i nz-icon nzType="caret-right" nzTheme="outline"></i>
    </div>
    <div class="fc__settings-body"></div>
  </div>
  <div class="fc__settings-action-wrapper">
    <div class="fc__settings-header">
      <span>Action</span>
      <i nz-icon nzType="caret-right" nzTheme="outline"></i>
    </div>
    <div class="fc__settings-body">
      
    </div>
  </div>
</div>
