<nz-collapse nzAccordion="true" *ngIf="config.actions.length > 0">
  <nz-collapse-panel *ngFor="let actionItem of config.actions; let i=index" 
  [nzHeader]="(actionItem.name || ('edit.action.defaultAction' | translate))" 
  [nzExtra]="extraActionTpl"
  [nzActive]="currentActiveIndex === i">
    <ng-template #extraActionTpl>
      <i nz-icon nzType="delete" nzTheme="outline" (click)="onDeleteAction(i)" class="fc__property-delete-icon"></i>
    </ng-template>
    <div class="fc__property-line">
      <label class="fc__property-label">{{'edit.property.name' | translate}}:</label>
      <input class="fc__property-data" nz-input placeholder="" [(ngModel)]="actionItem.name" />
    </div>
    <div class="fc__property-line">
      <label class="fc__property-label">{{'edit.action.type' | translate}}:</label>
      <nz-select class="fc__property-data" nzAllowClear [ngModel]="actionItem.type" nzPlaceHolder="" (ngModelChange)="onActionTypeChange($event, i)">
        <nz-option *ngFor="let item of actionTypes; let atIndex = index" 
          nzLabel="{{ item.showText }}" nzValue="{{ item.value }}" ></nz-option>
      </nz-select>
    </div>
    <div class="fc__property-line">
      <label class="fc__property-label">{{'edit.action.comps' | translate}}:</label>
      <nz-select class="fc__property-data"  [(ngModel)]="config.actionItems[actionItem.id]" nzPlaceHolder="" nzMode="multiple">
        <nz-option *ngFor="let compNameItem of compNames" 
        nzLabel="{{ compNameItem.name }}" nzValue="{{ compNameItem.id }}"></nz-option>
      </nz-select>
    </div>
    <ng-container [ngSwitch]="actionItem.type">
      <fc-action-export *ngSwitchCase="'export'" [action]="actionItem"></fc-action-export>
      <fc-action-import *ngSwitchCase="'import'" [action]="actionItem"></fc-action-import>
      <fc-action-print *ngSwitchCase="'print'" [action]="actionItem" [dataTables]="dataTables" [dataGroups]="config.dataGroups"></fc-action-print>
      <fc-action-query *ngSwitchCase="'query'" [action]="actionItem" [compNames]="compNames" [dataTables]="dataTables" [dataGroups]="config.dataGroups"></fc-action-query>
      <fc-action-save *ngSwitchCase="'save'" [action]="actionItem" [dataTables]="dataTables" [dataGroups]="config.dataGroups"></fc-action-save>
      <fc-action-view *ngSwitchCase="'view'" [action]="actionItem"></fc-action-view>
      <div *ngSwitchDefault></div>
    </ng-container>
    
    <nz-collapse nzAccordion="true">
      <nz-collapse-panel
      [nzHeader]="'edit.action.filter' | translate" >
      <nz-collapse nzAccordion="true" *ngIf="actionItem.filters.length > 0">
        <nz-collapse-panel *ngFor="let filterItem of actionItem.filters; let fIndex = index"
        [nzHeader]="'filter-' + (fIndex + 1 )" 
        [nzExtra]="extraFilterTpl">
        <ng-template #extraFilterTpl>
          <i nz-icon nzType="delete" nzTheme="outline" (click)="onDeleteFilter(i, fIndex)" class="fc__property-delete-icon"></i>
        </ng-template>
        <fc-operator-data [dataItem]="filterItem" [dataTables]="dataTables"
          [dataGroups]="config.dataGroups" [hasOperator]="true" [hasValue]="true"></fc-operator-data>
        </nz-collapse-panel>
      </nz-collapse>
      <button class="fc__property-addbtn" nz-button nzType="primary" (click)="onAddFilter(i)">
        <i nz-icon nzType="plus" nzTheme="outline"></i>
        {{'edit.action.addFilter' | translate}}
      </button>
      </nz-collapse-panel>
    </nz-collapse>
    <nz-collapse nzAccordion="true">
      <nz-collapse-panel
      [nzHeader]="'edit.action.extraScript' | translate">
      <nz-collapse nzAccordion="true">
        <nz-collapse-panel [nzHeader]="'Prepare'">
          <nz-collapse nzAccordion="true" *ngIf="actionItem.extraFuncs.prepare.length > 0">
            <nz-collapse-panel *ngFor="let prepareItem of actionItem.extraFuncs.prepare; let pIndex = index"
            [nzHeader]="'prepare' + (pIndex + 1)"
            [nzExtra]="extraPrepareTpl">
              <ng-template #extraPrepareTpl>
                <i nz-icon nzType="delete" nzTheme="outline" (click)="onDeletePrepare(i, pIndex)" 
                  class="fc__property-delete-icon"></i>
              </ng-template>
              <fc-extra-func [dataGroups]="config.dataGroups" [funcItem]="prepareItem"></fc-extra-func>
            </nz-collapse-panel>
          </nz-collapse>
          <button class="fc__property-addbtn" nz-button nzType="primary" (click)="onAddPrepare(i)">
            <i nz-icon nzType="plus" nzTheme="outline"></i>
            {{'edit.extra.addPrepare' | translate}}
          </button>
        </nz-collapse-panel>
        <nz-collapse-panel [nzHeader]="'After'">
          <nz-collapse nzAccordion="true" *ngIf="actionItem.extraFuncs.after.length > 0">
            <nz-collapse-panel *ngFor="let afterItem of actionItem.extraFuncs.after; let aIndex = index" 
            [nzHeader]="'after' + (aIndex + 1)"
            [nzExtra]="extraAfterTpl">
              <ng-template #extraAfterTpl>
                <i nz-icon nzType="delete" nzTheme="outline" (click)="onDeleteAfter(i, aIndex)" 
                  class="fc__property-delete-icon"></i>
              </ng-template>
              <fc-extra-func [dataGroups]="config.dataGroups" [funcItem]="afterItem"></fc-extra-func>
            </nz-collapse-panel>
          </nz-collapse>
          <button class="fc__property-addbtn" nz-button nzType="primary" (click)="onAddAfter(i)">
            <i nz-icon nzType="plus" nzTheme="outline"></i>
            {{'edit.extra.addAfter' | translate}}
          </button>
        </nz-collapse-panel>
        <nz-collapse-panel [nzHeader]="'Validate'">
          <nz-collapse nzAccordion="true" *ngIf="actionItem.extraFuncs.validate.length > 0">
            <nz-collapse-panel *ngFor="let validateItem of actionItem.extraFuncs.validate; let vIndex = index"
            [nzHeader]="'validate' + (vIndex + 1)"
            [nzExtra]="extraValidateTpl">
              <ng-template #extraValidateTpl>
                <i nz-icon nzType="delete" nzTheme="outline" (click)="onDeleteValidate(i, vIndex)" 
                  class="fc__property-delete-icon"></i>
              </ng-template>
              <fc-extra-func [dataGroups]="config.dataGroups" [funcItem]="validateItem"></fc-extra-func>
            </nz-collapse-panel>
          </nz-collapse>
          <button class="fc__property-addbtn" nz-button nzType="primary" (click)="onAddValidate(i)">
            <i nz-icon nzType="plus" nzTheme="outline"></i>
            {{'edit.extra.addValidate' | translate}}
          </button>
        </nz-collapse-panel>
      </nz-collapse>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-collapse-panel>
</nz-collapse>
<button class="fc__property-addbtn" nz-button nzType="primary" (click)="onAddAction()">
  <i nz-icon nzType="plus" nzTheme="outline"></i>
  {{'edit.action.addAction' | translate}}
</button>
